<html>
<head>
	
	</head><link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<body>

	<div class='pane'>
		<div class='header'>
		
		
		<h1>{{ item['name'] }}</h1>
	</div>	

	
	
   


    <div class='description'>
		<p>{{item['description']}}</p>

	</div>

	<div class='price'>
   
	    <span class=price><p>{{item['price']}} </p></span>
    </div>
		
	

    <div class='editdeletepane'>
	<a href='{{url_for('editItem', category_name=category_name, item_name=item['name'] )}}' >Edit</a>


	<a href='{{url_for('deleteItem', category_name=category_name, item_name=item['name'] )}}' >
	Delete</a>

    </div>

		
    </br>
    </br>
    
		
</div>
</div>

	</body>



</html>